/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;

    /* Debug */
    /* background-color: red; */
}


.container::after {
    content: "";
    display: table;
    clear: both;
}

.alternative-container {
    background-color: rgb(246, 246, 246);
    padding: 30px 0;
}

/* Header rules */
header {
    height: 100px;
    background-color: rgb(49, 97, 224);
    padding-top: 20px;
}

.logo {
    float: left;
}

/* Navigator rules */
nav ul li {
    display: inline-block;
    margin-right: 25px; 
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav {
    float: left;
    margin: 10px 250px;
}

/* Button */
.button a {
    text-decoration: none;
    background-color: white;
    color: rgb(35, 39, 42);
    border-radius: 30px;
    padding: 10px 20px;
}

/* Jumbotron rules */
#jumbotron {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    width: 100%;
    height: 500px;
}   

#jumbotron .container {
    width: 60%;
    text-align: center;
    color: white;

    /* Debug */
    /* background-color: red;
    height: 300px; */
}

#jumbotron h1 {
    font-size: 50px;
    padding: 30px;
}

#jumbotron p {
    font-size: 20px;
    margin-bottom: 40px;
}


/* Button jumbotron */
#jumbotron .button a {
    padding: 15px;
}

.dark a{
    background-color: rgb(35, 39, 42);
    color: white;
}



/* Sections rules */
.column-img {
    float: left;
    width: 60%;
    height: auto;

    /* Debug */
    /* height: 200px;
    background-color: red; */
}

.column-text {
    float: left;
    width: 40%;
    height: auto;
    color: rgb(35, 39, 42);
    padding-right: 10%;

    /* Debug */
    /* height: 200px; */
    /* background-color: blueviolet; */
}


/* Section content rules */
.section-title {
    font-size: 50px;
    padding: 30px 0;
}

.section-description {
    font-size: 20px;
}


/* Big last section */
.column-single {
    text-align: center;
    color: rgb(35, 39, 42);

    /* Debug */
    /* height: 300px;
    background-color: aqua; */
}

/* Star and button rules */
.little-stars {
    background-image: url("../img/stars.svg");
    background-size: cover;
}

.little-stars h2 {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 30px;
}

.big-button a{
    background-color: rgb(142, 161, 225);
    color: white;
    font-size: 20px;
}

/* Footer rules */
.link-footer {
    /* background-color: rgb(35, 39, 42); */
    /* Debug */
    height: 300px;
}

#footer-bg {
    background-color: rgb(35, 39, 42);
}